@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

.content{
    padding: 1rem;
}

/* .content h1{
    margin: 0;
} */

.pokemons{
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pokemons li{
    margin: .5rem;
    padding: 2rem 1rem;
    background-color: #14A06F;
    border-radius: 1rem;
    color: #fff;
    height: 100px;
}